<%= stylesheet_link_tag 'bikes', media: 'all' %>

<h1 class="text-center">Reserve Bike: <%= @bike.name %></h1>

<!-- Displays image of a bike -->
<div class="text-center">
  <% if @bike.image.attached? %>
    <%= image_tag @bike.image, class: "bike-image-large" %>
  <% else %>
    <p>No image available</p>
  <% end %>
</div>

<!-- Form for selecting the rental start and end dates and confirm rental -->
<div class="form-container form-card">
  <%= form_with url: reserve_bike_path(@bike), method: :post, local: true, class: "form-inline", id: "rental-form" do %>
    <div class="form-group">
      <label for="start_date">Start Date:</label>
      <%= date_field_tag :start_date, @start_date, class: "form-control", required: true, min: Date.today.to_s %>
      <!-- Uses @start_date to pre-fill the start date field -->
      <label for="end_date">End Date:</label>
      <%= date_field_tag :end_date, @end_date, class: "form-control", required: true, min: Date.today.to_s %>
      <!-- Uses @end_date to pre-fill the end date field -->
      <%= submit_tag 'Confirm Rental', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
<div class="back-button">
  <%= link_to 'Back', root_path, class: "btn btn-secondary" %>
</div>
