<!DOCTYPE html>
<html>
  <head>
    <title>Redzeju.lv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <!-- Navigācijas galvene -->
    <header class="header">
      <a href="/" class="logo">
        <%= image_tag "logo.jpeg", alt: "Redzeju.lv logo", class: "logo-image" %>
        Redzeju.lv
      </a>
      <div class="header-right">
        <button class="menu-button" onclick="toggleMenu()">☰</button>
      </div>
    </header>

    <!-- Side menu -->
    <div id="sideMenu" class="side-menu">
      <a href="javascript:void(0)" class="closebtn" onclick="toggleMenu()">&times;</a>
      <% if user_signed_in? %>
        <%= link_to 'Redzētās izrādes', seen_performances_path %>
        <%= link_to 'Profils', edit_user_registration_path %>
        <%= link_to 'Izrakstīties', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_frame: "_top" } %>
      <% else %>
        <%= link_to 'Ieiet', new_user_session_path %>
        <%= link_to 'Reģistrēties', new_user_registration_path %>
      <% end %>
    </div>

    <!-- Flash ziņojumi -->
    <main>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>

    <script>
      function toggleMenu() {
        const sideMenu = document.getElementById("sideMenu");
        const body = document.body;
        
        if (sideMenu.style.width === "250px") {
          sideMenu.style.width = "0";
          body.classList.remove("menu-open");
        } else {
          sideMenu.style.width = "250px";
          body.classList.add("menu-open");
        }
      }
    </script>
  </body>
</html>
