<!DOCTYPE html>
<html>
  <head>
    <title>Redzeju.lv</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <!-- Navigācijas galvene -->
    <header class="header">
      <a href="/" class="logo">Redzeju.lv</a>
      <div class="header-right navbar-links">
        <% if user_signed_in? %>
          <%= link_to 'Redzētās izrādes', seen_performances_path, class: 'btn btn-primary active' %>
          <%= link_to 'Profils', edit_user_registration_path, class: 'btn btn-primary active' %>
          <%= link_to 'Izrakstīties', destroy_user_session_path, method: :delete, data: { turbo_method: :delete, turbo_frame: "_top" }, class: 'btn btn-danger active' %>
        <% else %>
          <%= link_to 'Ieiet', new_user_session_path, class: 'btn btn-primary active' %>
          <%= link_to 'Reģistrēties', new_user_registration_path, class: 'btn btn-primary active' %>
        <% end %>
      </div>
    </header>

    <!-- Flash ziņojumi -->
    <main>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
